@font-face {
    font-family: "Carton_Six";
    src: url("fontes/Carton_Six.ttf");
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Carton_Six";
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
}
.titulo-home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55pt;
    color: dodgerblue;
    width: 100%;
}
.subtitulo-home {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightcoral;
    font-size: 18pt;
    letter-spacing: 5px;
    width: 80%;
    
}
.botao-iniciar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    font-size: 25pt;
    letter-spacing: 5px;
    color: whitesmoke;
    text-transform: uppercase;
    width: 30%;
    margin-top: 50px;
    padding: 40px 0px;
    border-radius: 10px;
    cursor: pointer;
    
}
.botao-iniciar:hover {
    opacity: .8;
    transition: all .4s;
}
#game {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    
}
.botao-voltar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    color: whitesmoke;
    letter-spacing: 5px;
    cursor: pointer;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}
.botao-voltar:hover {
    opacity: .8;
}

.botao-jogarnovamente {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    color: whitesmoke;
    letter-spacing: 5px;
    cursor: pointer;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.botao-jogarnovamente:hover {
    opacity: .8;
}

.count {
    display: flex;
    justify-content: space-between;
    width: 80%;
    
}
#hits {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    padding: 20px;
    border-radius: 10px;
    font-size: 25pt;
    color: gray;
    
    
}
#errors {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    padding: 20px;
    border-radius: 10px;
    font-size: 25pt;
    color: whitesmoke;
    
}

.letras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /* background-color: lightblue; */
    margin-bottom: 50px;
    
}

#a {background-color: red; padding: 20px; color: white; border-radius: 10px; font-size: 22pt; cursor: pointer;}
#e {background-color: green; padding: 20px; color: white; border-radius: 10px; font-size: 22pt; cursor: pointer;}
#i {background-color: blue; padding: 20px; color: white; border-radius: 10px; font-size: 22pt; cursor: pointer;}
#o {background-color: yellow; padding: 20px; color: white; border-radius: 10px; font-size: 22pt; cursor: pointer;}
#u {background-color: brown; padding: 20px; color: white; border-radius: 10px; font-size: 22pt; cursor: pointer;}

.vogal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 180pt;
    color: red;
    
}

#result {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    
}

#resultado-final {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 70pt;
    margin-bottom: 50px;
}

@media only screen and (max-width: 750px) {
    .titulo-home {
        font-size: 35pt;
        text-align: center;
    }
    .subtitulo-home {
        text-align: center;
        font-size: 14pt;
    }
    .botao-iniciar {
        width: 50%;
        font-size: 18pt;
    }
    #resultado-final {
        font-size: 40pt;
        text-align: center;
    }
}
